body {
    margin: 0px;
    margin: 0px;
    overflow: hidden;
}

.wrapper {
    background: url(../images/final.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    position:absolute;
    width:100%;
    height:100%;
    z-index: 1;
}

.banner {
    background-color:black;
    max-width: 100%;
    height: 30%;
    width: 100%;
    position: fixed;
    bottom: 0px;
    z-index: 2;
}

.logo {
    width: 45%;
    margin-top: -8%;
    margin-left: 12%;
    position: absolute;
}

.nav {
    padding: 0;
    text-align: center;
    margin-top: 8.5%;
}

li {
    display: inline;
}

 li a {
    color: white;
    text-align: center;
    padding: 14px 38px;
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
    font-size: 1.75vw;
    text-shadow: 1px 1px 4px orange;
}

li a:hover {
    color: aqua;
    text-shadow: 2px 2px 4px white;
}

li a:active {
    color: white;
}