body {
    margin: 0;
    overflow: auto;
}

.wrapper {
    background: url(../images/final.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    position: fixed;
    width:100%;
    height:100%;
    overflow: auto;
}

.banner {
    background-color:black;
    max-width: 100%;
    height: 30%;
    width: 100%;
    position: fixed;
    bottom: 0px;
    overflow: scroll;
}

.logo {
    width: 40vw;
    margin-left: 12%;
    top: 60.5%;
    position: absolute;
    z-index: 3;
}

#tx {
    width: 20%;
    top: 20%;
    z-index: 3;
}

.nav {
    padding: 0;
    text-align: center;
    margin-top: 8.5%;
}

li {
    display: inline;
}

li a {
    color: white;
    text-align: center;
    padding: 14px 38px;
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
    font-size: 1.75vw;
    text-shadow: 1px 1px 4px orange;
}

li a:hover {
    color: aqua;
    text-shadow: 2px 2px 4px white;
}

li a:active {
    color: white;
}

#dx {
    height: 75%;
}

#cx {
    margin-top: 5.5%;
}

table {
    color: orange;
    margin-top: 5.5%;
    margin-left: auto;
    margin-right: auto;
    width: 75%;
    font-family: 'Montserrat', sans-serif;
}

#trx {
    text-align: left;
    font-size: 24px;
}

#rtx {
    text-align: right;
    font-size: 24px;
}

#vrx {
    text-align: left;
    font-size: 13px;
}

#vtx {
    text-align: right;
    font-size: 13px;
}

#vrtx {
    margin-top: 1.5%;
}

#readscript {
    font-size: 14px;
    font-family: 'Montserrat', sans-serif;
    color: orange;
    width: 75%;
    margin-right: auto;
    margin-left: auto;
    margin-top: 5%;
    text-align: justify;
    text-justify: inter-word;
}

.card {
    /* Add shadows to create the "card" effect */
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
  }
  
  /* On mouse-over, add a deeper shadow */
  .card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  }
  
  /* Add some padding inside the card container */
  .container {
    padding: 2px 16px;
  }

@media only screen and (max-width: 768px) {
    .logo {
        top: 62.5%;
    }
}

@media only screen and (max-width: 425px) {
    .logo {
        top: 67%;
    }
    li a {
        padding: 14px 19px;
    }
    #tx {
        top: 23%;
    }
}