body {
    margin: 0;
    overflow: auto;
}

.wrapper {
    background: url(../images/final.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    position: fixed;
    width:100%;
    height:100%;
    overflow: auto;
}

.banner {
    background-color:black;
    max-width: 100%;
    height: 30%;
    width: 100%;
    position: fixed;
    bottom: 0px;
    overflow: scroll;
}

.logo {
    width: 40vw;
    margin-left: 12%;
    top: 60.5%;
    position: absolute;
    z-index: 3;
}

#tx {
    width: 20%;
    top: 20%;
    z-index: 3;
}

.nav {
    padding: 0;
    text-align: center;
    margin-top: 8.5%;
}

li {
    display: inline;
}

li a {
    color: white;
    text-align: center;
    padding: 14px 38px;
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
    font-size: 1.75vw;
    text-shadow: 1px 1px 4px orange;
}

li a:hover {
    color: aqua;
    text-shadow: 2px 2px 4px white;
}

li a:active {
    color: white;
}

#dx {
    height: 75%;
}

#cx {
    margin-top: 20.5%;
}

@media only screen and (max-width: 768px) {
    .logo {
        top: 62%;
    }
}

@media only screen and (max-width: 425px) {
    .logo {
        top: 65%;
    }
    li a {
        padding: 14px 19px;
    }
}